@font-face {
    font-family: '我的字体';
    src: url(YouSheBiaoTiHei-2.ttf)format('truetype'),
         url(YouSheBiaoTiHei-2.ttf)format('woff2');
}
:root {
    --bgcolor:#1a1a1a;
    --textcolor:#f5f5f5dd;
}
body,html{
    font-family: '我的字体',sans-serif;
    background: var(--textcolor);
    margin: 0;
    padding: 0;
    width: 100%;
    transition: background 0.3s;
}

img{
    height: 102%;
    border-radius: 0 15%;
    transform: scale(1.05)rotate(10deg);
    box-shadow: 0.2rem 0 0.4rem 0.4rem var(--bgcolor);
}

h1{
    position: absolute;
    right: 2%;
    
    font-size: clamp(30px,3rem,4rem);
    background: linear-gradient(45deg,var(--textcolor),var(--bgcolor));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
p{
    margin: auto 3% auto auto;
    font-weight: 400;
    font-size: clamp(16px,5vw,60px);
    color: var(--textcolor);
}

#IDcard{
    width: 100vw;
    display: flex;
    height: 24vh;
    background-color: var(--bgcolor);
    border-bottom: 0.5rem solid var(--textcolor);
    margin-bottom: 4rem;
}

.chance{
    transform: skewX(-10deg);
    margin: 0 0 3rem 3rem;
    height: clamp(30px,5vw,3rem);
    width: 80vw;
    height: 3rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--bgcolor);
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.option{
    height: 100%;
    width: 1%;
    background-color:rgba(140, 0, 0, 0.5);
    transition: all 1.2s ease-out;
}
.chance:hover>.option{
    width: 40%;
    background:rgba(170, 0, 0, 1);
    transition: all 0.2s ease-in;
}